body, html {
  margin:  0;
  padding:  0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  background-color: #41B883;
}
p {
  margin: 0;
}

#navbar {
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  background-color: #41B883;
  color: white;
  font-size: 18px;
}

#first-bar {
  display: flex;
}

#second-bar {
  display: flex;
}

.nav-item {
  padding: 10px;
}

.link:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.185);
}

#nav-logout:hover{
  background-color: rgba(255, 0, 0, 0.616);
}

/* ----------------------------- form --------------------------------- */

.title-form {
  font-size: 36px;
}

#outside {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.form {
  margin-top: 30px;
  /* margin: 50px auto; */
  color: white;
  width: 30%;
  padding: 15px;
  background-color: #41B883;
  border: 2px solid #41B883;
  text-align: center;
}
.field {
  margin: 10px auto;
  width: 300px;
}
.field label{
  color: white;
  text-align: left;
  font-size: 16px;
}

.field input[type=text] {
  /* color: white; */
  border: 2px solid white;
  background-color: white;
  padding: 0  5px;
}
.field input[type=password] {
  /* color: white; */
  border: 2px solid white;
  background-color: white;
  padding: 0 5px;
}

.input-field input[type=text]:focus {
  border: none;
}


.submit-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.google-btn {
  margin: auto;
}

/* ------------------------------ inside --------------------------- */

#inside {
  z-index: -1;
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#search-bar {
  margin: 30px auto;
  width: 1000px;
}

.input-field{
  color: white;
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: space-evenly;
}

.input-field input[type=text] {
  border: 2px solid #2BBBAD;
  border-radius: 15px;
  color: black;
  padding: 0 15px;
  background-color: white;
}

.input-field input[type=text]:focus + label {
  color: white;
}

.input-field input[type=text]:focus {
  border: none;
}

#title {
  /* text-align: center; */
  transition-delay: 0.3s;
  color: white;
}


/* -------------------------------- movies ---------------------- */
#movies-container {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#movies-container::-webkit-scrollbar {
  width: 10px;
}

#movies-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#movies-container::-webkit-scrollbar-thumb {
  background:  #41B883;
}

.movie-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 20px;
  /* height: 900px; */
  margin: 15px;
  text-align: center;
  
}
.btn-detail {
  margin-top: 10px;
}

.movie-item p {
  margin: 10px 0;
}

.movie-title {
  font-size: 20px;
}


/* --------------------- movie- detail --------------------- */

#movie-detail-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px 20px;
  color: white;
  overflow-y: auto;
  /* margin: 0 20px; */
}
#movie-detail-title {
  margin: 0;
}
#movie-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#movie-detail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}


.good-score {
  background-color: rgba(0, 0, 255, 0.425);
  margin: 10px 0;
  padding: 10px;
}

.bad-score {
  background-color: rgba(255, 0, 0, 0.671);
  margin: 10px 0;
  padding: 10px;
}
#movie-detail-container::-webkit-scrollbar {
  width: 10px;
}

#movie-detail-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#movie-detail-container::-webkit-scrollbar-thumb {
  background:  #41B883;
}


/* ----------------- movie detail content -------------------------- */

#movie-detail-content {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}

#movie-detail-description {
  border: 2px solid white;
  padding: 10px;
  margin: 10px 0;
}

#movie-detail-vid {
  text-align: center;
  margin-top: 20px;
}

#trailer-text {
  border-top: 2px solid white;
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
}


/* -------------------------- similiar --------------------------- */

#similar-text {
  border-top: 2px solid white;
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
}

#similar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
}

.similar-item {
  font-size: 24px;
  margin: 10px 15px;
  padding: 10px;
  border: 2px solid white;
}


.similar-item:hover{
  background-color: white;
  color: #41B883;
  cursor: pointer;		
}

/* ------------------ news --------------------- */

#relatedNews {
  width: 100%;
  height: 100%;
  /* overflow-x: auto; */
  /* overflow-y: auto; */
  /* border: 2px solid black; */
}

.thumbnail img{
  width: 260px;
  height: 260px;
}

#news-text {
  border-top: 2px solid white;
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;
}

#news-detail {
  color: black;
  text-align: center;
  margin: 0 auto;
  align-self: auto;
}